*{ box-sizing: border-box; }
body{
  background: #B5B5B5;
}

img {
  width: 100px;
  height: 100px;
  align-items: center;
}


.music {
	font-family: 'Helvetica';
	position: relative;
	background: #ffffff;
	color: #555555;
  margin: 20px auto;
  width: 850px;
  max-width: 900px;
  min-height: 30px;
  padding: 10px 10px 10px 10px;
	-moz-box-shadow: -5px 5px 15px;
	-webkit-box-shadow: -5px 5px 15px;
  box-shadow: -5px 5px 15px;
  border-radius: 5px;
}

h1{
font-family: 'Helvetica';
     font-size: 30px;
     text-align: center;
}

h2{
font-family: 'Helvetica';
     font-size: 20px;
     text-align: center;
}

h3{
font-family: 'Helvetica';
     font-size: 15px;
     text-align: center;
}

h4{
font-family: 'Helvetica';
     font-size: 10px;
     text-align: center;
}

.title{
   font-size: 20px;
   padding-bottom: 6px;
   color: #333333;
 }

 .release{
   margin-left: 5px;
   font-size: 16px;
 }
